:root {
  --section-background: #141414;
  --inputs-hover: rgb(240, 233, 233);
  --inputs-focus: rgb(66, 63, 231);
}

.personal-info-section {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--section-background);
}
.personal-info-section > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
.personal-info-section > div > input {
  padding: 5px;
  outline: none;
  border-radius: 2px;
  border: none;
}
.personal-info-section > div > input:hover {
  background-color: var(--inputs-hover);
}
.personal-info-section > div > input:focus {
  outline: 3px solid var(--inputs-focus);
}
